@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.Login-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url("/images/flat01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.Login-input {
  margin: 15px;
  width: 400px;
}

.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  background-color: rgba(63, 169, 255, 0.5);
  margin: 40px;
}

.Sign .Login-input {
  width: 250px;
}

.HomeThemes {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  /* background-image: url("/images/flat01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  opacity: 0.8;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Button-Shadow {
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 5px 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Abril Fatface;
  width: 100px;
  height: 40px;
}

.Button-Submit {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: Abril Fatface;
  height: 30px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text {
  font-size: 14px;
  font-family: Abril Fatface;
  text-align: center;
  margin: 4px;
}

.Title {
  font-size: 25px;
  font-family: Abril Fatface;
  text-align: center;
  margin-top: 30px;
}

.Input {
  width: 80%;
  height: 3%;
  margin: 4px;
  border: 1px solid black;
}

.Myaccount {
  font-size: 14px;
  font-family: Abril Fatface;
  text-align: bottom;
  color: black;
}

.Bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
