@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

h4 {
  color: white;
  font-weight: bold;
}

.Tittle-Welcome {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.8;
}

.Welcome-page {
  background-color: #f2b09c;
  height: 100vh;
}

.Login-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url("/images/flat01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.Login-input {
  margin: 15px;
  width: 400px;
}

.Sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-radius: 5%;
  border-color: white;
  background-color: rgba(63, 169, 255, 0.5);
  margin: 40px;
}

.Sign .Login-input {
  width: 250px;
}

.HomeThemes {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  /* background-image: url("/images/flat01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  opacity: 0.8;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* TEMPLATE MAIN SCREENS */

.Myaccount-Box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.Avatar {
  width: 50px;
  border-radius: 100%;
}

.Myaccount-Link {
  font-size: 14px;
  font-family: Abril Fatface;
  color: black;
  display: flex;
  align-items: center;
  justify-content: right;
  text-decoration-color: none;
  margin-left: 10px;
}

.Myaccount-Link:hover {
  color: black;
}

.Main-Row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEMPLATE TEXTS */

.Title {
  font-size: 16px;
  font-family: Abril Fatface;
  text-align: center;
  margin: 5px;
  margin-bottom: 10px;
}

.Text {
  font-size: 12px;
  font-family: Fredoka One;
  text-align: center;
  margin: 4px;
}

/* TEMPLATE BUTTONS */

.Button-Shadow {
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 5px 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Abril Fatface;
  width: 100px;
  height: 40px;
}

.Button-Submit {
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: Abril Fatface;
  height: 30px;
  margin-bottom: 5px;
}

/* SCREENSEARCH */

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input {
  width: 80%;
  height: 35px;
  margin: 3px;
}

.Myaccount {
  font-size: 14px;
  font-family: Abril Fatface;
  text-align: bottom;
  color: black;
}

.Bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Img {
  max-width: 90%;
  max-height: 100%;
}
/* COMMENTAIRES
Iphone xs (Laura): 315 x 600 
Template main screens : stocker la couleur de fond dans une variable dynamique pour pouvoir tout changer facilement*/
